.session__card-cont {
  width: 100% !important;
  background-color: white;
  cursor: pointer;
}

.session__card-col {
  margin-left: 0px !important;
}

.view-image__btn-cont {
  padding: 1rem;
  color: rgb(0, 88, 176);
}

.view-image__btn {
  background-color: rgb(25, 123, 222);
}

@media only screen and (max-width: 600px) {
  .session__card-col {
    margin-left: 0px !important;
    padding: 1rem;
  }

  .current-swell__report-col {
    padding: 0.1rem !important;
  }
}
