.current-swell__report {
}

.current-swell__head-row {
  padding-right: 0px;
}

.current-swell__head-cont {
  padding: 3rem;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 55%;
  background-size: 100% 100%;
  font-weight: bolder;
  color: rgb(240, 239, 239);
  text-shadow: black 0px 0px 2px;
}

/* .current-swell__head-cont:after {
  opacity: 0.4;
} */

.current-swell__head {
  font-size: 2rem;
  font-weight: 800;
}

@media only screen and (max-width: 600px) {
  .current-swell__head-cont {
    width: 90%;
    height: 60%;
    font-size: 24px;
    background-size: 100% 100%;
    color: black;
  }
  .current-swell__head {
    font-size: 24px;
    color: rgb(240, 239, 239);
    text-shadow: black 0px 0px 2px;
  }
}

.current-swell__report-cont {
  width: 100%;
  border: 0.5px solid #d3e4f9ad;
}

.current-swell__report-header {
  border-bottom: 1px solid #0070f3;
  margin-top: 2%;
  margin-bottom: 3%;
  padding: 0.5rem;
}

.current-swell__waveHeight-desc {
  opacity: 0.7;
  font-size: 0.8rem;
}

.current-swell__waveHeight {
  font-size: 1.3rem;
  line-height: 2rem;
}

.current-swell__waveHeight-col {
  padding: 0.5rem 1rem 1rem 1rem;
}

.current-swell__humanRelation {
  opacity: 0.9;
  font-size: 0.8rem;
}
.current-swell__report-cont {
  background-color: white;
  margin-bottom: 2rem;
}
.current-swell__report-div {
  margin-left: 2.7rem;
  margin-bottom: 1rem;
}

.buoy__cont {
  margin-bottom: 0rem;
}

.buoy__data-head {
}

.buoy__data-break {
  border-bottom: 1px solid #0070f3;
  margin: auto;
  margin-bottom: 1rem;
  width: 30%;
}
.save-btn {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.back-to-search-btn {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.current-swell__button-cont {
  /* backgmarground-color: rgba(245, 241, 241, 0.612); */
  height: 15rem;
}

.dzu-dropzone {
  text-align: center;
}

/* .dzu-inputLabel::after {
  content: "hello";
} */
.upload_cont {
  margin-bottom: 2rem;
  margin-top: 1rem;
}
/* 
.upload-content {
  position: relative;
  z-index: 1;
  top: 4rem;
  left: 4rem;
  cursor: pointer;
} */

.dzu-previewImage {
  -moz-transform: scale(2.5);
  -ms-transform: scale(2.5);
  -o-transform: scale(2.5);
  -webkit-transform: scale(2.5);
  transform: scale(2.5);
  position: relative;
  left: 4.5rem;
}

.image-alert.alert {
  margin-top: 1rem;
  padding: 0.5rem 0.5rem !important;
}
.fadeOut {
  opacity: 0;
  width: 0px;
  height: 0px;
  transition: width 0.3s 0.3s, height 0.3s 0.3s, opacity 0.3s;
}
.fadeIn {
  opacity: 1;
  transition: width 0.3s, height 0.3s, opacity 0.3s 0.3s;
}

@media only screen and (max-width: 600px) {
  .current-swell__waveHeight-col {
    padding: 0.5rem 1rem 1rem 1rem;
    width: 50% !important;
  }
  .current-swell__report-cont {
    padding: 1px !important;
  }
  .current-swell__waveHeight-col {
    padding: 1rem !important;
  }
  .current-swell__waveHeight {
    font-size: 1rem !important;
  }
  .upload_cont {
    margin: auto;

    margin-top: 1rem;
    width: 90%;
  }
  .current-swell__spot-conditions {
    margin-bottom: 1rem;
  }

  .dzu-previewImage {
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
    position: relative;
    left: 7.5rem;
  }
}
